<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<form  class="col-md-6" #userForm="ngForm" (ngSubmit)="onSubmit()" >

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">First Name</label>
          <input type="text" class="form-control" [(ngModel)]="userModel.name" name= "name" required> 
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Last Name</label>
          <input type="text" class="form-control"[(ngModel)]="userModel.lastname" name= "lastname" required>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
        <div class="form-group">
            <label for="">Email address</label>
            <input type="email" class="form-control" [(ngModel)]="userModel.email" name= "email" required>
        </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="form-group">
            <label for="">Age</label>
            <input type="text" class="form-control" [(ngModel)]="userModel.age" name= "age" required>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
            <label for="">City</label>
            <input type="text" class="form-control" [(ngModel)]="userModel.city" name= "city">
        </div>
        </div>

        <button type="submit" class="btn btn-primary ">Update Student</button>
      </div>
        </div>
        
</form>
