

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="sidenav">
  <a href="/showstudents">List Students</a>
  <a href="/addstudents">Add Students</a>
  <!-- <a href="/deletestudents">Delete Students</a>
  <a href="/updatestudents">Update Students</a> -->
</div>

<div class="main">

    <div>
        <h2>Rest-API</h2>
        
    </div>
    <br>
    <router-outlet></router-outlet>
 </div>

